In [1]:
import pandas as pd

In [2]:
rides = pd.read_csv('rides_dataset1.csv')
rides

,ride_id,start_city,end_city,ride_date,start_time,end_time,distance_km,fare,dynamic_pricing,driver_id,passenger_id,rating,payment_method,ride_status
0,b26d2384-e990-4269-a1b7-6c6e433cfc1d,North Colleenville,Douglasmouth,2024-04-30,06:57:05,23:06:53,2.895034,142.100117,No,dfe2f726-7760-4fa1-8688-2120938d4c2e,922ec7c2-bcf2-4756-ba85-0fd55739dc2a,2,Cash,Completed
1,3ef0d969-d19c-4ec1-abed-4fa986168c90,Cindyton,West Melanieland,2022-11-10,14:22:49,02:08:02,28.864365,175.960761,No,72c4a06e-24d1-4221-8352-3842577f5ad9,7d65fef1-8ac1-458b-be1b-5fbe2b5c4f9a,1,Cash,Canceled
2,e975dbb0-b118-4431-8228-769b554513d0,Maryberg,New Rachelville,2021-06-11,12:17:53,01:24:20,21.807327,119.509820,Yes,23c554c6-a183-4b59-8e0b-9c5ba699e98c,a4e4cfcd-14b6-444c-9a38-0bc3d65d74ce,1,PayPal,Completed
3,c709e75a-9974-4857-8445-d5f9a878f26b,South Cameronmouth,South Shawn,2022-09-05,08:48:50,12:29:13,17.868135,120.173518,Yes,dcb0d8bf-a327-4f54-8678-8f0d48335812,a902951a-9950-48f5-8f4b-c3e8df004850,4,PayPal,Canceled
4,c811ae95-ea1f-4859-9df4-0307f484d988,Howardside,New Ricky,2024-06-21,17:59:12,16:05:55,7.483889,175.566156,No,3faf2901-ab93-471b-883b-17520d3bcc06,d8a535e3-b7e7-4005-9d81-353f57c24cfb,2,Credit Card,Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,7ab61d62-ac10-457a-acf8-e5621a6dba29,West Michael,South Christineland,2020-07-24,05:02:37,07:25:46,41.828820,45.123339,No,795bf642-d4e1-496a-a725-82afe2f270c4,8e93ee3c-9867-4666-aeeb-04b3d5e8b648,1,PayPal,Completed
496,4bd2678b-f87d-401a-9752-1302af89e03d,Port Timothybury,Stephenton,2021-12-09,20:56:50,03:52:31,47.006872,133.135547,No,fd8c7c52-e858-4658-a8bd-030039806334,8f2eaf99-1d1d-49c4-8df2-c546ed49be8b,5,Cash,Completed
497,d72ceb17-c4ec-4a5a-8d20-e45a813572ee,Port Eric,North Stephen,2022-06-06,02:53:40,00:40:36,37.976031,87.063049,Yes,74286839-3835-4805-a2bd-bd6022eb7c07,7a2bad52-597b-412c-a239-54e7c71ca696,1,PayPal,Completed
498,bb7ca720-018d-4c39-af7b-ae27c03846c1,Port Annefurt,New Tammyville,2020-02-29,07:48:09,10:05:57,20.981754,71.585062,No,ff80b7ba-603b-402b-8973-f6ed8fe5b239,16d62da0-9ea3-4e1b-b2b7-50986c9e0f3d,3,PayPal,Completed
499,NaN,Lake Jon,Port Penny,2020-04-21,09:00:54,04:05:02,39.922434,183.417966,No,5cc0eac8-3077-4bcf-80ff-7d9a79d78b9f,4d3c3a6a-1c63-4a7f-8760-3d8e51e88670,2,Cash,Canceled

In [3]:
drivers = pd.read_csv('driver_dataset3.csv')
drivers

,driver_id,driver_name,age,gender,city_id,vehicle_type,avg_driver_rating,total_rides,total_earnings,driver_status,employment_type,years_of_experience,ride_acceptance_rate
0,7f69a8b5-dac4-41b4-8151-d3b43dca077b,Jack Smith,31,Male,b25b9b1f-1dd8-4f94-bf9c-e31894fb1179,Car,4.963069,4969,7138.716234,Inactive,Full-time,7,91.851612
1,5a8095f0-c17b-4ef5-af99-0dfb12be50ba,Bryan Gonzalez,63,Female,4709dea2-b2ac-45cb-9d8c-817511ada331,Car,1.261725,4583,12459.853889,Suspended,Full-time,3,81.808887
2,9a8656e0-8732-4018-9acd-6f414e4c145f,Katelyn Fitzpatrick,64,Male,1aee75b9-ec7a-4d10-bdf5-e91ba5ce3559,Van,1.912878,4196,3960.993945,Suspended,Full-time,10,79.265997
3,395890e1-c72a-4d08-ad6d-fe67878a66e9,Parker Gilbert,59,Male,07b3d26b-8c4f-4148-9a41-00c66813244c,Car,2.052264,58,32063.924198,Suspended,Full-time,13,97.649575
4,4712d10b-aacb-463c-84ac-2f7b11e35a5f,Joseph Scott,43,Female,6f049b7e-5ff6-4c42-af33-c700ffdafc6b,Car,6.391593,4665,34616.093513,Inactive,Full-time,16,51.009616
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,6d67b7ab-f759-4671-9149-2b7d15047bcd,George Ramirez,47,Male,fd0fd0c5-22d0-419f-a101-acd59d12f9c0,Car,6.664761,177,48667.286142,Suspended,Independent Contractor,5,81.705025
496,38d32232-cfa4-4d16-8521-a9667c154df2,Karen Peters,38,Male,a700140a-c88c-4c6a-87ab-c49e00c0f8b4,Bike,4.497204,1036,16663.068026,Active,Full-time,8,79.209527
497,78519af2-f439-483f-9f13-b07a62edc367,Kelsey Ball,28,Male,1f2bfbd8-14ae-4667-a1a9-a1029e11b217,Van,1.870256,2976,38430.891198,Suspended,Independent Contractor,6,85.682143
498,7889c6dd-163c-4567-bffe-f24f2bc0c931,Tyler Alexander,53,Female,9107532d-968f-443e-b59f-027934c31354,Van,4.441296,4068,19615.316921,Active,Part-time,19,88.776496
499,0bd1d467-64ad-47c3-ab1f-5ff17015acd4,Stacey Patterson,59,Male,d06f6652-4f54-4544-8eae-011b73279a39,Bike,7.860023,1424,14718.208830,Suspended,Independent Contractor,12,59.528042

In [4]:
city = pd.read_csv('city_dataset2.csv')
city

,city_id,city_name,country,continent,population,regulatory_status,market_competition,number_of_drivers,number_of_rides,avg_fare,avg_wait_time_min,uber_services,major_competitors
0,9d978b1c-6617-4cf6-95c4-95dc9a248d70,Port Joseph,Senegal,South America,4981867.0,Restricted,Medium,15141,84106,27.507420,3.707850,UberX,Grab
1,b7408700-0d17-4705-920d-26a080d0e4a5,Port Shannonside,France,Europe,4901993.0,Banned,Low,23664,209575,64.408369,17.344458,UberX,Local Taxis
2,3aecee16-ccd8-4805-881a-19e1095cccd7,Lake Donnaville,Marshall Islands,South America,2177603.0,Restricted,Low,9516,19003,195.306864,6.577905,UberPool,Lyft
3,0a07d46b-02fd-4a58-90b5-94b4ce68e2f9,North Phyllis,Burundi,North America,NaN,Allowed,High,18143,228002,56.610778,13.280884,UberX,Local Taxis
4,c6c6994a-4bab-41fe-a2eb-66908cedb34e,Lake Patrick,Liechtenstein,South America,NaN,Restricted,Medium,8401,26567,11.111732,19.038678,UberX,Local Taxis
...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,f50a96c9-a2a3-4094-87ab-bf32a313bf1b,West Zachary,Bhutan,Africa,3322638.0,Restricted,High,18635,216814,11.345745,5.236628,UberX,Grab
496,3319c237-8753-4b38-8f7f-c07e970d3d87,Jonathanhaven,Madagascar,Europe,9061151.0,Allowed,Low,11658,429336,47.347846,19.707531,UberX,Local Taxis
497,4f06b6b6-48f7-47f6-babd-6f6948d4f2dc,Ryanmouth,Philippines,Australia,8685487.0,Allowed,High,38382,354143,53.353737,6.159757,UberPool,Grab
498,d01e4ca2-83dc-4dfe-b68b-097e4fe1acf9,New Tyler,Andorra,South America,8730921.0,Allowed,High,18359,196406,283.085760,5.517985,UberPool,Lyft
499,3f911455-74c7-4f27-9216-4ff3caa1ae0b,Jessicaview,Honduras,North America,5004405.0,Banned,Low,5225,428726,92.825048,3.765381,UberPool,Ola

In [5]:
payments = pd.read_csv("payment_dataset 4.csv")
payments

,payment_id,ride_id,driver_id,passenger_id,fare,surge_multiplier,payment_method,driver_earnings,uber_commission,transaction_status,payment_date
0,cac819cd-71c2-4c58-8547-20e1b20d18b4,49edba3e-f4d5-45af-a86b-85d4dacd06b9,4cf72587-4f42-41af-9950-851a770818f6,3d774faa-e663-44fd-96a6-b7a991928189,104.211158,1.586988,Cash,543.998701,38.125827,Failed,2021-03-05
1,65490c09-6871-43b1-9f50-4fd27d31f5c4,8c3cb279-b637-4ec6-b7a4-5529adccf4c6,a324a87d-62f4-42ef-af66-f819c19ed9cf,fb087c05-2184-4f38-b47c-ee71ce43986e,113.664531,2.418041,Credit Card,585.806665,28.005699,Failed,2020-04-19
2,7f00a3c1-5f6b-4d6b-9d26-3d7c4448d659,52796e17-4e2a-42ef-901f-9245bf52a9f5,14dfc25f-12c8-4404-9c28-30b54d542cb0,f903b81a-41c3-437f-96d8-85097f599bfd,11.884105,1.136048,Cash,465.747529,5.676429,Pending,2021-04-07
3,198fd6a6-f121-4f52-9c70-f6eac79f70d5,4d9d2189-48fc-407d-a34f-ed86aec7f428,d841fa68-826d-42dc-ab1b-b0532cbf54cf,174b2d35-c4ef-40f7-bf70-30c61810d63e,70.614096,1.099451,Credit Card,603.422543,39.750477,Pending,2022-06-14
4,36a7a569-2231-486d-8f90-0a1eb27e09b5,f44113c2-9777-4d2e-b9f0-8e2c0136e331,7c372422-4915-4e5f-8acf-c8aaba2cc866,c3acfb28-202b-4747-9922-b187893aa86c,NaN,1.111742,Credit Card,692.648169,10.530703,Pending,2022-09-17
...,...,...,...,...,...,...,...,...,...,...,...
495,b26d266f-bc5a-43c6-aa56-2c1a1bad845e,85184a0b-a9a1-4c2b-a5b2-778f72e082d0,fa3a7c5b-65aa-4187-a064-0b459a2b87f8,74da2317-dd38-41df-a845-77aa136ba8fa,89.615023,1.912530,Credit Card,642.087330,44.333967,Failed,2023-04-07
496,e1cf2c27-1401-4e6b-b12d-a5e36f30ee7f,49eb14b6-fb31-436d-812e-dbc840a9bb5d,e5f51b76-0902-4f70-80e6-543f71dfa631,d0371005-e31a-4eba-af0b-9737a884b155,172.306975,2.403311,PayPal,406.651445,35.268168,Completed,2023-06-10
497,30c23ab2-b45b-4e3a-9155-85ed70cd980c,ad58724d-540c-4a9e-8403-0eefcda6c3fe,dc8abb65-5a51-4e81-87bc-900e380e47ac,da74eee1-8f5c-45dd-9ae5-c01a4f4d890b,153.613607,2.018225,Cash,333.465610,24.505865,Failed,2023-09-09
498,08b2f8cb-7f5e-4b14-b558-2bab6af1f17e,cf5cbe2c-292d-4b87-bed7-da251c3626a8,25aa51d2-6699-4272-9ec5-1d3703df747e,30c9259d-f440-4a99-97fd-ba0bc9b05a3b,35.554224,1.710483,PayPal,547.845091,31.949480,Pending,2020-12-28
499,6873a3f9-071c-41c7-a613-c3a974f92227,4ab0d8af-85d9-46f6-b850-9d556328b53c,3dfe5293-7ec5-4908-96eb-ceb0c32653f9,ea951647-2b1c-4aa5-9daf-b72f60e85309,146.300319,1.643772,Credit Card,785.702077,32.496700,Pending,2020-09-21

### Observation 
 All four datasets (rides, drivers, payments, city) contain exactly 500 records each. This uniformity suggests the dataset is synthetic and designed for training purposes rather than representing a production-scale Uber system. The analysis will therefore focus on methodological correctness and insight generation rather than data volume realism

## Data Preprocessing

### I. Rides

In [34]:
rides.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ride_id            475 non-null    object
 1   start_city         500 non-null    object
 2   end_city           500 non-null    object
 3   ride_date          500 non-null    datetime64[ns]
 4   start_time         500 non-null    object
 5   end_time           500 non-null    object
 6   distance_km        500 non-null    float64
 7   fare               447 non-null    float64
 8   dynamic_pricing    500 non-null    object
 9   driver_id          500 non-null    object
 10  passenger_id       500 non-null    object
 11  rating             500 non-null    int64
 12  payment_method     500 non-null    object
 13  ride_status        500 non-null    object
 14  start_datetime     500 non-null    datetime64[ns]
 15  end_datetime       500 non-null    datetime64[ns]
 16  ride_duration_min  500 non-null    float64
dtypes: datetime64[ns](3), float64(3), int64(1), object(10)
memory usage: 66.5+ KB

In [6]:
rides.head(1)

,ride_id,start_city,end_city,ride_date,start_time,end_time,distance_km,fare,dynamic_pricing,driver_id,passenger_id,rating,payment_method,ride_status
0,b26d2384-e990-4269-a1b7-6c6e433cfc1d,North Colleenville,Douglasmouth,2024-04-30,06:57:05,23:06:53,2.895034,142.100117,No,dfe2f726-7760-4fa1-8688-2120938d4c2e,922ec7c2-bcf2-4756-ba85-0fd55739dc2a,2,Cash,Completed

In [7]:
rides['ride_date'] = pd.to_datetime(rides['ride_date'], errors='coerce')

rides['start_datetime'] = pd.to_datetime(
    rides['ride_date'].astype(str) + ' ' + rides['start_time'],
    errors='coerce'
)

rides['end_datetime'] = pd.to_datetime(
    rides['ride_date'].astype(str) + ' ' + rides['end_time'],
    errors='coerce'
)

In [8]:
# identify midnight-crossing rides
mask = rides['end_datetime'] < rides['start_datetime']

# add 1 day to end_datetime for those rides
rides.loc[mask, 'end_datetime'] = rides.loc[mask, 'end_datetime'] + pd.Timedelta(days=1)

In [9]:
rides['ride_duration_min'] = (
    (rides['end_datetime'] - rides['start_datetime'])
    .dt.total_seconds() / 60
)

In [35]:
cat_cols = ['payment_method', 'ride_status']

for col in cat_cols:
    rides[col] = rides[col].astype(str).str.strip().str.lower()

In [36]:
rides.head(10)

,ride_id,start_city,end_city,ride_date,start_time,end_time,distance_km,fare,dynamic_pricing,driver_id,passenger_id,rating,payment_method,ride_status,start_datetime,end_datetime,ride_duration_min
0,b26d2384-e990-4269-a1b7-6c6e433cfc1d,North Colleenville,Douglasmouth,2024-04-30,06:57:05,23:06:53,2.895034,142.100117,No,dfe2f726-7760-4fa1-8688-2120938d4c2e,922ec7c2-bcf2-4756-ba85-0fd55739dc2a,2,cash,completed,2024-04-30 06:57:05,2024-04-30 23:06:53,969.800000
1,3ef0d969-d19c-4ec1-abed-4fa986168c90,Cindyton,West Melanieland,2022-11-10,14:22:49,02:08:02,28.864365,175.960761,No,72c4a06e-24d1-4221-8352-3842577f5ad9,7d65fef1-8ac1-458b-be1b-5fbe2b5c4f9a,1,cash,canceled,2022-11-10 14:22:49,2022-11-11 02:08:02,705.216667
2,e975dbb0-b118-4431-8228-769b554513d0,Maryberg,New Rachelville,2021-06-11,12:17:53,01:24:20,21.807327,119.509820,Yes,23c554c6-a183-4b59-8e0b-9c5ba699e98c,a4e4cfcd-14b6-444c-9a38-0bc3d65d74ce,1,paypal,completed,2021-06-11 12:17:53,2021-06-12 01:24:20,786.450000
3,c709e75a-9974-4857-8445-d5f9a878f26b,South Cameronmouth,South Shawn,2022-09-05,08:48:50,12:29:13,17.868135,120.173518,Yes,dcb0d8bf-a327-4f54-8678-8f0d48335812,a902951a-9950-48f5-8f4b-c3e8df004850,4,paypal,canceled,2022-09-05 08:48:50,2022-09-05 12:29:13,220.383333
4,c811ae95-ea1f-4859-9df4-0307f484d988,Howardside,New Ricky,2024-06-21,17:59:12,16:05:55,7.483889,175.566156,No,3faf2901-ab93-471b-883b-17520d3bcc06,d8a535e3-b7e7-4005-9d81-353f57c24cfb,2,credit card,canceled,2024-06-21 17:59:12,2024-06-22 16:05:55,1326.716667
5,97073fd9-d93f-42ca-b641-d0653e041306,New Christopher,Meaganside,2024-03-06,02:00:23,16:15:50,27.076403,145.747872,No,f3ab7fb8-79de-49c8-891f-f8e6b27205f7,ffd59bc9-0b96-46ab-af20-1e94b13f6c60,3,paypal,canceled,2024-03-06 02:00:23,2024-03-06 16:15:50,855.450000
6,3c0aa8b2-2bfc-4765-87fd-1629bb74cd2c,South Sonyaport,East William,2024-04-16,16:51:40,20:29:30,2.448793,52.847996,Yes,27871a81-65c4-4579-916f-c2c7a4866340,8a9aac39-dd7a-4870-a51e-d9ef5a6edc7c,4,cash,canceled,2024-04-16 16:51:40,2024-04-16 20:29:30,217.833333
7,58dafd35-9e77-4fd9-acc3-bff2f46e33f1,Hopkinsborough,Feliciaview,2023-12-04,19:04:19,06:58:59,12.524428,92.264734,No,fdb2e809-df00-492d-ab5a-09892a10f82b,6eff16c2-b2e5-4c2c-a337-f70545525a12,5,cash,canceled,2023-12-04 19:04:19,2023-12-05 06:58:59,714.666667
8,7417ec53-28b1-408f-be05-4ff5a46009e7,New Connor,Markland,2023-02-17,23:11:27,21:14:57,49.035587,9.283642,No,93671f9a-b02b-4765-aa17-e01aab7edb20,d6555b80-18fd-4c16-bba1-4bd278a6ef22,4,credit card,canceled,2023-02-17 23:11:27,2023-02-18 21:14:57,1323.500000
9,9f100463-eff6-4600-a6c1-20facc1d02e5,Raymondfurt,West Samanthafort,2022-09-23,08:11:34,17:05:42,10.888906,125.863695,No,6dd5e94f-f072-4530-ae8a-589a3d5a32f1,9c12111f-fa5e-4109-acd7-05e31064f770,5,credit card,completed,2022-09-23 08:11:34,2022-09-23 17:05:42,534.133333

In [12]:
rides.isnull().sum()

ride_id              25
start_city            0
end_city              0
ride_date             0
start_time            0
end_time              0
distance_km           0
fare                 53
dynamic_pricing       0
driver_id             0
passenger_id          0
rating                0
payment_method        0
ride_status           0
start_datetime        0
end_datetime          0
ride_duration_min     0
dtype: int64

In [38]:
rides.duplicated().sum()

np.int64(0)

### II. Payments

In [15]:
payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   payment_id          500 non-null    object
 1   ride_id             500 non-null    object
 2   driver_id           500 non-null    object
 3   passenger_id        500 non-null    object
 4   fare                446 non-null    float64
 5   surge_multiplier    500 non-null    float64
 6   payment_method      500 non-null    object
 7   driver_earnings     500 non-null    float64
 8   uber_commission     500 non-null    float64
 9   transaction_status  500 non-null    object
 10  payment_date        500 non-null    object
dtypes: float64(4), object(7)
memory usage: 43.1+ KB

In [16]:
payments['payment_date'] = pd.to_datetime(payments['payment_date'], errors='coerce')

In [17]:
payments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   payment_id          500 non-null    object
 1   ride_id             500 non-null    object
 2   driver_id           500 non-null    object
 3   passenger_id        500 non-null    object
 4   fare                446 non-null    float64
 5   surge_multiplier    500 non-null    float64
 6   payment_method      500 non-null    object
 7   driver_earnings     500 non-null    float64
 8   uber_commission     500 non-null    float64
 9   transaction_status  500 non-null    object
 10  payment_date        500 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(4), object(6)
memory usage: 43.1+ KB

In [19]:
cat_cols = ['payment_method', 'transaction_status']

for col in cat_cols:
    payments[col] = payments[col].astype(str).str.strip().str.lower()

In [20]:
payments.head()

,payment_id,ride_id,driver_id,passenger_id,fare,surge_multiplier,payment_method,driver_earnings,uber_commission,transaction_status,payment_date
0,cac819cd-71c2-4c58-8547-20e1b20d18b4,49edba3e-f4d5-45af-a86b-85d4dacd06b9,4cf72587-4f42-41af-9950-851a770818f6,3d774faa-e663-44fd-96a6-b7a991928189,104.211158,1.586988,cash,543.998701,38.125827,failed,2021-03-05
1,65490c09-6871-43b1-9f50-4fd27d31f5c4,8c3cb279-b637-4ec6-b7a4-5529adccf4c6,a324a87d-62f4-42ef-af66-f819c19ed9cf,fb087c05-2184-4f38-b47c-ee71ce43986e,113.664531,2.418041,credit card,585.806665,28.005699,failed,2020-04-19
2,7f00a3c1-5f6b-4d6b-9d26-3d7c4448d659,52796e17-4e2a-42ef-901f-9245bf52a9f5,14dfc25f-12c8-4404-9c28-30b54d542cb0,f903b81a-41c3-437f-96d8-85097f599bfd,11.884105,1.136048,cash,465.747529,5.676429,pending,2021-04-07
3,198fd6a6-f121-4f52-9c70-f6eac79f70d5,4d9d2189-48fc-407d-a34f-ed86aec7f428,d841fa68-826d-42dc-ab1b-b0532cbf54cf,174b2d35-c4ef-40f7-bf70-30c61810d63e,70.614096,1.099451,credit card,603.422543,39.750477,pending,2022-06-14
4,36a7a569-2231-486d-8f90-0a1eb27e09b5,f44113c2-9777-4d2e-b9f0-8e2c0136e331,7c372422-4915-4e5f-8acf-c8aaba2cc866,c3acfb28-202b-4747-9922-b187893aa86c,NaN,1.111742,credit card,692.648169,10.530703,pending,2022-09-17

In [32]:
payments['is_fare_missing'] = payments['fare'].isna()

In [33]:
payments.head()

,payment_id,ride_id,driver_id,passenger_id,fare,surge_multiplier,payment_method,driver_earnings,uber_commission,transaction_status,payment_date,is_fare_missing,is_negative_fare,is_invalid_surge
0,cac819cd-71c2-4c58-8547-20e1b20d18b4,49edba3e-f4d5-45af-a86b-85d4dacd06b9,4cf72587-4f42-41af-9950-851a770818f6,3d774faa-e663-44fd-96a6-b7a991928189,104.211158,1.586988,cash,543.998701,38.125827,failed,2021-03-05,False,False,False
1,65490c09-6871-43b1-9f50-4fd27d31f5c4,8c3cb279-b637-4ec6-b7a4-5529adccf4c6,a324a87d-62f4-42ef-af66-f819c19ed9cf,fb087c05-2184-4f38-b47c-ee71ce43986e,113.664531,2.418041,credit card,585.806665,28.005699,failed,2020-04-19,False,False,False
2,7f00a3c1-5f6b-4d6b-9d26-3d7c4448d659,52796e17-4e2a-42ef-901f-9245bf52a9f5,14dfc25f-12c8-4404-9c28-30b54d542cb0,f903b81a-41c3-437f-96d8-85097f599bfd,11.884105,1.136048,cash,465.747529,5.676429,pending,2021-04-07,False,False,False
3,198fd6a6-f121-4f52-9c70-f6eac79f70d5,4d9d2189-48fc-407d-a34f-ed86aec7f428,d841fa68-826d-42dc-ab1b-b0532cbf54cf,174b2d35-c4ef-40f7-bf70-30c61810d63e,70.614096,1.099451,credit card,603.422543,39.750477,pending,2022-06-14,False,False,False
4,36a7a569-2231-486d-8f90-0a1eb27e09b5,f44113c2-9777-4d2e-b9f0-8e2c0136e331,7c372422-4915-4e5f-8acf-c8aaba2cc866,c3acfb28-202b-4747-9922-b187893aa86c,NaN,1.111742,credit card,692.648169,10.530703,pending,2022-09-17,True,False,False

In [37]:
payments.duplicated().sum()

np.int64(0)

### III. Drivers

In [39]:
drivers.head(2)

,driver_id,driver_name,age,gender,city_id,vehicle_type,avg_driver_rating,total_rides,total_earnings,driver_status,employment_type,years_of_experience,ride_acceptance_rate
0,7f69a8b5-dac4-41b4-8151-d3b43dca077b,Jack Smith,31,Male,b25b9b1f-1dd8-4f94-bf9c-e31894fb1179,Car,4.963069,4969,7138.716234,Inactive,Full-time,7,91.851612
1,5a8095f0-c17b-4ef5-af99-0dfb12be50ba,Bryan Gonzalez,63,Female,4709dea2-b2ac-45cb-9d8c-817511ada331,Car,1.261725,4583,12459.853889,Suspended,Full-time,3,81.808887

In [40]:
drivers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   driver_id             473 non-null    object
 1   driver_name           500 non-null    object
 2   age                   500 non-null    int64
 3   gender                500 non-null    object
 4   city_id               500 non-null    object
 5   vehicle_type          500 non-null    object
 6   avg_driver_rating     500 non-null    float64
 7   total_rides           500 non-null    int64
 8   total_earnings        500 non-null    float64
 9   driver_status         500 non-null    object
 10  employment_type       500 non-null    object
 11  years_of_experience   500 non-null    int64
 12  ride_acceptance_rate  500 non-null    float64
dtypes: float64(3), int64(3), object(7)
memory usage: 50.9+ KB

In [41]:
cat_cols = ['gender', 'vehicle_type', 'driver_status', 'employment_type']

for col in cat_cols:
    drivers[col] = drivers[col].astype(str).str.strip().str.lower()

In [42]:
drivers.head(2)

,driver_id,driver_name,age,gender,city_id,vehicle_type,avg_driver_rating,total_rides,total_earnings,driver_status,employment_type,years_of_experience,ride_acceptance_rate
0,7f69a8b5-dac4-41b4-8151-d3b43dca077b,Jack Smith,31,male,b25b9b1f-1dd8-4f94-bf9c-e31894fb1179,car,4.963069,4969,7138.716234,inactive,full-time,7,91.851612
1,5a8095f0-c17b-4ef5-af99-0dfb12be50ba,Bryan Gonzalez,63,female,4709dea2-b2ac-45cb-9d8c-817511ada331,car,1.261725,4583,12459.853889,suspended,full-time,3,81.808887

In [43]:
drivers.duplicated().sum()

np.int64(0)

### IV. City

In [44]:
city.head(2)

,city_id,city_name,country,continent,population,regulatory_status,market_competition,number_of_drivers,number_of_rides,avg_fare,avg_wait_time_min,uber_services,major_competitors
0,9d978b1c-6617-4cf6-95c4-95dc9a248d70,Port Joseph,Senegal,South America,4981867.0,Restricted,Medium,15141,84106,27.507420,3.707850,UberX,Grab
1,b7408700-0d17-4705-920d-26a080d0e4a5,Port Shannonside,France,Europe,4901993.0,Banned,Low,23664,209575,64.408369,17.344458,UberX,Local Taxis

In [45]:
city.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   city_id             500 non-null    object
 1   city_name           500 non-null    object
 2   country             500 non-null    object
 3   continent           500 non-null    object
 4   population          447 non-null    float64
 5   regulatory_status   500 non-null    object
 6   market_competition  500 non-null    object
 7   number_of_drivers   500 non-null    int64
 8   number_of_rides     500 non-null    int64
 9   avg_fare            500 non-null    float64
 10  avg_wait_time_min   500 non-null    float64
 11  uber_services       500 non-null    object
 12  major_competitors   500 non-null    object
dtypes: float64(3), int64(2), object(8)
memory usage: 50.9+ KB

In [46]:
cat_cols = [
    'city_name', 'country', 'continent',
    'regulatory_status', 'market_competition',
    'uber_services'
]

for col in cat_cols:
    city[col] = city[col].astype(str).str.strip().str.lower()

In [47]:
city.head(2)

,city_id,city_name,country,continent,population,regulatory_status,market_competition,number_of_drivers,number_of_rides,avg_fare,avg_wait_time_min,uber_services,major_competitors
0,9d978b1c-6617-4cf6-95c4-95dc9a248d70,port joseph,senegal,south america,4981867.0,restricted,medium,15141,84106,27.507420,3.707850,uberx,Grab
1,b7408700-0d17-4705-920d-26a080d0e4a5,port shannonside,france,europe,4901993.0,banned,low,23664,209575,64.408369,17.344458,uberx,Local Taxis

In [48]:
city.duplicated().sum()

np.int64(0)

### Exporting clean csv

In [49]:
drivers.to_csv('driver_clean.csv', index=False)
city.to_csv("city_clean.csv", index=False)
rides.to_csv('rides_clean.csv', index=False)
payments.to_csv('payments_clean.csv', index=False)